<doctype html>
    <html>

    <head>
        <title>WeConnect</title>
        <meta charset="UTF-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link href="../style/style.css" rel="stylesheet" type="css/txt">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>WeConnect</h1>
                <form action="#">
                    <div class="form-group">
                        <label for="Bname">Business Name</label>
                        <input type="text" class="form-control" id="Bname" placeholder="Business Name">
                    </div>
                    <div class="form-group">
                        <label for="category">Password</label>
                        <input type="category" class="form-control" id="category" placeholder="business category">
                    </div>
                    <div class="form-group">
                        <label for="nature">Nature of Business </label>
                        <textarea class="form-control" rows="5" id="nature"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="stakeholders"> Name of Stakeholders </label>
                        <input type="text" class="form-control" id="stakeholder" Placeholder="stakeholder">
                    </div>
                    <div class="form-group">
                        <label for="address">Business Address </label>
                        <input type="email" class="form-control" id="address" placeholder="Business Address">
                    </div>
                    <div class="form-group">
                        <label for="location">Business Location</label>
                        <input type="text" class="form-control" id="location" placeholder="Business Location">
                        <button type="submit" class="btn btn-success">Submit</button>
                </form>
                </div>
            </div>
    </body>

    </html>