<!DOCTYPE html>
<html>

<head>
    <title>WeConnect</title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../style/style.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" id="weconnect">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">WeConnect</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">HOME</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a data-toggle="modal" href="#RBModal">Register Business</a>
                            </li>
                            <li>
                                <a data-toggle="modal" href="#RModal">Review a business</a>
                            </li>
                            <li>
                                <a data-toggle="modal" href="#VBModal">View business Profile</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <form action="#" class="navbar-form" role="search">
                            <div class="input-group add-on">
                                <input class="form-control" id="search" name="search" placeholder="search" type="text">
                                <div class="input-group-btn"></div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators"></ol>
            <div class="carousel-inner" id="mycarousel">
                <div class="item active">
                    <img alt="businesses together" id="Cimg" src="../images/bbit.jpg">
                    <div class="carousel-caption">
                        <h3>WeConnect</h3>
                        <p>Brings businesses and individuals together</p>
                    </div>
                </div>
                <div class="item">
                    <img alt="creates awareness" id="Cimg" src="../images/awareness.jpg">
                    <div class="carousel-caption">
                        <h3>WeConnect</h3>
                        <p>Creates awareness for businesses</p>
                    </div>
                </div>
                <div class="item">
                    <img alt="reviews" id="Cimg" src="../images/meet.jpg">
                    <div class="carousel-caption">
                        <h3>WeConnect</h3>
                        <p>Gives users the ability to write reviews about the business</p>
                    </div>
                </div>
                <div class="item">
                    <img alt="connect" id="Cimg" src="../images/bd.jpg">
                    <div class="carousel-caption">
                        <h3>WeConnect</h3>
                        <p>Bring your business to the table</p>
                    </div>
                </div>
            </div>
        </div>
        <p>We care , We share, We connect<br> Contact us: Email us at melvinatieno@gmail.com</p>
        <div class="modal fade" id="RBModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Register</h2>
                    </div>
                    <div class="modal-body">
                        <form action="#">
                            <div class="form-group">
                                <label for="Bname">Business Name</label> <input class="form-control" id="Bname" placeholder="Enter Business name" type="text">
                            </div>
                            <div class="form-group">
                                <label for="category">Business Category</label> <input class="form-control" id="category" placeholder="Enter Business Category" type="category">
                            </div>
                            <div class="form-group">
                                <label for="nature">Nature of Business</label>
                                <textarea class="form-control" id="nature" placeholder="Enter the Nature of the business" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="stakeholders">Name of Stakeholder/s</label> <input class="form-control" id="stakeholder" placeholder="Enter Stakeholder" type="text">
                            </div>
                            <div class="form-group">
                                <label for="contacts">Business Contacts</label> <input class="form-control" id="contacts" placeholder="Enter Business Contact Details" type="email">
                            </div>
                            <div class="form-group">
                                <label for="location">Business Location</label> <input class="form-control" id="location" placeholder="Enter Business Location" type="text">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" data-dismiss="modal" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="RModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Review</h2>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Bname">Business Name</label> <input class="form-control" id="Bname" type="txt">
                        </div>
                        <div class="form-group">
                            <label for="Rname">Reviewer Name</label> <input class="form-control" id="Rname" type="txt">
                        </div>
                        <div class="form-group">
                            <label for="Review">Review</label>
                            <textarea class="form-control" id="nature" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" data-dismiss="modal" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="VBModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">view</h2>
                    </div>
                    <div class="modal-body">
                        <div class="jumbotron">
                            <h1>WeConnect</h1>
                            <h2>Tengeneza Furnitures</h2>
                            <h4>What we do:</h4>
                            <div class="well well-lg">
                                <p>Make and refbarish your furniture</p>
                            </div>
                            <h4>Stake Holders:</h4>
                            <div class="well well-lg">
                                <p>Melvin</p>
                            </div>
                            <h4>Find us:</h4>
                            <div class="well well-lg">
                                <p>we are located in Kajiado next to wetu shopping centre</p>
                            </div>
                            <h4>Contact us:</h4>
                            <div class="well well-lg"></div>
                            <p>23415651</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>