<!DOCTYPE html>
<html>

<head>
    <title>WeConnect</title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../style/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>
        <nav class="navbar navbar-inverse" aria-hidden="false">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Wnavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">WeConnect</a>
                </div>
                <div class="collapse navbar-collapse" id="Wnavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="#">HOME</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a data-toggle="modal" href="#RBModal">Register Business</a>
                                </li>
                                <li>
                                    <a data-toggle="modal" href="#RModal">Review a business</a>
                                </li>
                                <li>
                                    <a data-toggle="modal" href="#BLModal">View business Profile</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a data-toggle="modal" href="#BLModal">REGISTERED BUSINESSES</a>
                        </li>
                        <li>
                            <form action="#" class="navbar-form">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Enter Business Name" type="text">
                                    <div class="input-group-btn">
                                        <button class="btn btn-info" type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--  start of carousel  -->
        <div class="carousel slide" data-ride="carousel" id="myCarousel">
            <ol class="carousel-indicators">
                <li data-target="myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="myCarousel" data-slide-to="1"></li>
                <li data-target="myCarousel" data-slide-to="2"></li>
                <li data-target="myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img alt="business startup white board" src="../images/work-area.jpg">
                    <div class="carousel-caption">
                        <h3>We Connect</h3>
                        <br/>
                        <button type="button" class="btn btn-default" data-toggle="modal" id="getstarted" href="#signup-modal">Sign Up and Get Started</button>
                    </div>
                </div>
                <!--end of active carousel-->
                <div class="item">
                    <img alt="creates awareness" id="Cimg" src="../images/phone-access.jpg">
                    <div class="carousel-caption">
                        <h3>WeConnect</h3>
                        <p>Creates awareness for businesses</p>
                    </div>
                </div>
                <div class="item">
                    <img alt="reviews" id="Cimg" src="../images/business-review.jpg">
                    <div class="carousel-caption">
                        <h3>WeConnect</h3>
                        <p>Gives users the ability to write reviews about the business</p>
                    </div>
                </div>
                <div class="item">
                    <img alt="connect" id="Cimg" src="../images/startup.jpg">
                    <div class="carousel-caption">
                        <h3>WeConnect</h3>
                        <p>Bring your business to the table</p>
                    </div>
                </div>
            </div>
            <div>
                <!-- start carousel controls-->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
        
            </div>
        </div>
        <!--end of carousel-->

        <!-- registered businesses section  -->
        <div style="background-color: grey">
            <div class="container">
                <h2>Registered businesses</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../images/foodtruck.jpg" alt="foodtruck" id="registered-business">
                        <h4>Motion foods</h4>
                    </div>
                    <div class="col-sm-4">
                        <img src="../images/bookshelf.jpg" alt="brown bookshelf" id="registered-business">
                        <h4>Wazalendo furnitures</h4>
                        <p></p>
                    </div>
                    <div class="col-sm-4">
                        <img src="../images/hairsalon.jpg" alt="hair salon signpost" id="registered-business">
                        <h4>perfect hairsalon</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of registered businesses section -->
        <!-- start footer -->
        <footer class=" container-fluid text-center">
            <p>We care , We share, We connect
                <br> Contact us: Email us at melvinatieno@gmail.com</p>
        </footer>
        <!-- end footer -->

        <!-- start signup-modal -->
        <div class="modal fade" id="signup-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                        <h2 class="modal-title">SIGN-UP </h2>
                    </div>
                    <div class="modal-body">
                        <div class="jumbotron">
                            <h1>WeConnect</h1>
                            <img class="img-responsive" src="../images/build to success.jpg " alt="image of build your business to success">
                            <form action="#">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password">
                                </div>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end of signup modal -->
        
        <!-- register a business modal start -->
        <div class="modal fade" id="RBModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" id="modalarea">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                        <h2 class="modal-title">Register</h2>
                    </div>
                    <div class="modal-body">
                        <form action="#">
                            <div class="form-group">
                                <label for="Bname">Business Name</label> <input class="form-control" id="Bname" placeholder="Enter Business name" type="text">
                            </div>
                            <div class="form-group">
                                <label for="category">Business Category</label> <input class="form-control" id="category" placeholder="Enter Business Category" type="category">
                            </div>
                            <div class="form-group">
                                <label for="nature">Nature of Business</label>
                                <textarea class="form-control" id="nature" placeholder="Enter the Nature of the business" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="stakeholders">Name of Stakeholder/s</label> <input class="form-control" id="stakeholder" placeholder="Enter Stakeholder" type="text">
                            </div>
                            <div class="form-group">
                                <label for="contacts">Business Contacts</label> <input class="form-control" id="contacts" placeholder="Enter Business Contact Details" type="email">
                            </div>
                            <div class="form-group">
                                <label for="location">Business Location</label> <input class="form-control" id="location" placeholder="Enter Business Location" type="text">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" data-dismiss="modal" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of register business modal -->

        <!-- review business modal -->
        <div class="modal fade" id="RModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" id="modalarea">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                        <h2 class="modal-title">Review</h2>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Bname">Business Name</label> <input class="form-control" id="Bname" type="txt">
                        </div>
                        <div class="form-group">
                            <label for="Rname">Reviewer Name</label> <input class="form-control" id="Rname" type="txt">
                        </div>
                        <div class="form-group">
                            <label for="Review">Review</label>
                            <textarea class="form-control" id="nature" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" data-dismiss="modal" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of review business modal -->

        <!-- list of registered businesses modal -->
        <div class="modal fade" id="BLModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" id="modalarea">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                        <h2 class="modal-title">REGISTERED BUSINESSES</h2>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>
                                <a data-toggle="modal" href="#VBModal">wazalendo Furnitures</a>
                            </li>
                            <li>
                                <a data-toggle="modal" href="#">Motion foods</a>
                            </li>
                            <li>
                                <a data-toggle="modal" href="#">perfect Hair</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of list of registered businesses modal -->

        <!-- view business profile modal -->
        <div class="modal fade" id="VBModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" id="modalarea">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                        <h2 class="modal-title">Business Profile</h2>
                    </div>
                    <div class="modal-body">
                        <h2>Tengeneza Furnitures</h2>
                        <h4>What we do:</h4>
                        <div class="well well-lg">
                            <p>Make and refurbish your furniture</p>
                        </div>
                        <h4>Stake Holders:</h4>
                        <div class="well well-lg">
                            <p>Melvin</p>
                        </div>
                        <h4>Find us:</h4>
                        <div class="well well-lg">
                            <p>we are located in Kajiado next to wetu shopping centre</p>
                        </div>
                        <h4>Contact us:</h4>
                        <div class="well well-lg">
                            <p>23415651</p>
                        </div>
                        <h4>Reviews:</h4>
                        <p>sharon:<br> The services were great</p>
                        <p>Wilson:<br> Great work, great services</p>
                        <p>Mary:<br> Speed and punctuality needs more work, otherwise awesome people</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal" type="button">Remove</button> <button class="btn btn-warning" data-dismiss="modal" type="button">Update</button> <button class="btn btn-success" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of view business profile modal -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>