<!doctype html>
<html>

<head>
    <title>WeConnect</title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../style/style.css" rel="stylesheet" type="css/txt">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>WeConnect</h1>
            <h2>{{BName}}</h2>
            <div class="well well-lg">
                <p>{{Nature of the business }}</p>
            </div>
            <div class="well well-lg">
                <p>{{stakeholders}}</p>
            </div>
            <div class="well well-lg">
                <p>{{business location}}</p>
            </div>
            <div class="well well-lg">
                <p>{{Contacts}}</p>
            </div>
            <div class="well well-lg">
                <h2>Reviews</h2>
                <p>{{Username:Review}}</p>
            </div>
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="submit" class="btn btn-success">Review</button>
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </div>
</body>

</html>