.button {
    float: left;
}

#mycarousel {
    margin: 100px;
}

#Cimg {
    height: 300px;
}

#weconnect {
    background-color: goldenrod;
    height: 760px;
    margin: 20px;
}

#search {
    float: right;
}