.button {
    float: left;
}

.corousel-inner>.item>img {
    width: 640px;
    height: 360px;
}

.item.image {
    width: 640px;
    height: 360px;
}

#mycarousel {
    height: 100%;
    width: 50%
}